{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h3 style="font-family: 'Grenze Gotisch', serif; color: rgb(28, 196, 28); font-weight: 700; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">
                {% trans "Sign Out" %}
            </h3>

            <p style="font-family: 'Libre Baskerville', serif; font-size: 1.25rem; color: #020202;">
                {% trans 'Are you sure you want to sign out?' %}
            </p>

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary mt-4" type="submit" style="background-color: rgb(28, 196, 28); border-color: rgb(28, 196, 28); color: white; font-family: 'Libre Baskerville', serif; font-weight: 600; padding: 10px 20px; border-radius: 5px; transition: background-color 0.3s ease, border-color 0.3s ease;">
                    {% trans 'Sign Out' %}
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
