* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 17px;
    font-weight: 450;
    color: #000000;
    background-color: #faf4a8;
    display: flex;
    flex-direction: column;
}


/* Navbar */
.navbar {
    background: linear-gradient(to bottom, 
        rgb(255, 196, 0) 0%, 
        rgba(255, 251, 42, 0.8) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 251, 42, 0.8) 75%,
        rgb(255, 196, 0) 100%);
        margin-bottom: 0;
}

.navbar .navbar-brand, 
.navbar .nav-link {
    color: rgb(28, 196, 28);
    font-size: 1.3rem;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar .nav-link.active {
    color: rgb(25, 146, 25);
}

.navbar-brand .brand {
    font-family: 'Grenze Gotisch', serif;
    font-weight: 700; 
    font-size: 3rem;
    color: rgb(28, 196, 28);
}

.navbar-nav .nav-link:hover {
    color: rgb(14, 122, 14);
}

/* Footer */
.footer {
    background: linear-gradient(to bottom, 
        rgb(255, 196, 0) 0%, 
        rgba(255, 251, 42, 0.8) 25%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 251, 42, 0.8) 75%,
        rgb(255, 196, 0) 100%);
    color: #228B22;
}

.footer a, .footer p {
    color: rgb(28, 196, 28);
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style for the image-background section */
.image-background {
    height: 100vh;
    background-image: url('/static/images/background-img.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

/* Style for headers within the image-background section */
.image-background .display-1 {
    font-family: 'Grenze Gotisch', serif; 
    font-size: 3rem; 
    color:rgb(28, 196, 28);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    font-weight: 500;
}

/* Style for paragraphs within the image-background section */
.image-background .lead {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.25rem;
    color: #020202;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

/* Style for index html*/

.with-shadow {
    background-color: rgba(253, 210, 116, 0.76); 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 70%; 
    margin: 0 auto; 
}

/* Style intro text */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
}


/* Style for card images */
.card .image-container {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.card .image-flash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 196, 0);
    color: white;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.card .image-container:hover .image-flash {
    background: rgb(247, 243, 3);
}

/* Style for card title */
.card-title {
    font-family: 'Grenze Gotisch', serif;
    font-size: 1.3rem;
    color: rgb(6, 233, 6);
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(57, 160, 31, 0.3);
}

/* Style for the author information in the card */
.author {
    font-family: 'Libre Baskerville', serif;
    font-size: 0.9rem;
    color: #fffefe;
    margin-bottom: 10px;
}

/* Style for the "View Recipe" button */
.btn-primary {
    background-color: rgb(28, 196, 28);
    border-color: rgb(28, 196, 28);
    color: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: rgb(14, 122, 14);
    border-color: rgb(14, 122, 14);
}

.pagination .page-link {
    color: rgb(28, 196, 28);
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    border: 1px solid rgb(28, 196, 28);
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pagination .page-link:hover {
    background-color: rgb(14, 122, 14);
    color: rgb(183, 247, 191);
    border-color: rgb(14, 122, 14);
}

.pagination .page-link:focus,
.pagination .page-link.active {
    background-color: rgb(28, 196, 28);
    color: rgb(183, 247, 191);
    border-color: rgb(28, 196, 28);
}

/* Style for the sign-up page*/

/* Style for the sign-up title */
.signup-title {
    font-family: 'Grenze Gotisch', serif;
    color: rgb(244, 250, 244);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 5px;
    background-color: #1eb82b;
}

/* Style for the introductory text */
.intro-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    color: #020202;
    margin: 0;
}

/* Style for sign-in link */
.signin-link {
    color: rgb(28, 196, 28);
    text-decoration: underline;
}

/* Style for the sign-up form container */
.signup-container {
    background-color: #f6f866;
    border-radius: 0;
    border: 3px solid darkorange;
    box-shadow: 0 2px 4px rgba(247, 141, 2, 0.1);
    margin-top: 0 !important;
    border-top: none;
}


.bordered-section {
    border: 3px solid darkorange; /* Light gray border color */
    padding: 10px; /* Adjust padding as needed */
    border-radius: 0; /* Rounded corners */
    background-color: #f6f866; /* Light background color */
    margin-bottom: 0 !important;

}

/* Style for form fields */
.signup-form .form-group {
    margin-bottom: 1rem;
}

.signup-form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.signup-form .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff6803;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Style for the submit button */
.btn-primary {
    background-color: rgb(28, 196, 28);
    border-color: rgb(28, 196, 28);
    color: rgb(247, 247, 247);
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: rgb(14, 122, 14);
    border-color: rgb(14, 122, 14);
}

/* Style for input text fields */
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"],
.signup-container input[type="number"],
.signup-container textarea {
    background-color: #fff9c4;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    box-sizing: border-box;
}

/* Add custom styles for form elements */
.form-container {
    background-color: #f6f866; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    color: #199614;
    font-family: 'Grenze Gotisch', serif;
    font-weight: 600;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #f36506;
    border-color: #830202;
    color: #fffdfc;
}

.btn-center {
    display: block;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #e22e0e;
    border-color: #ff9900;

}

.form-control {
    width: 100%; /* Ensure full width of column */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-group {
    margin-bottom: 1rem; /* Add some margin below each form group */
}

