{% extends "base.html" %}
{% load static %}

{% block title %} My Draft Recipes {% endblock %}
{% block content %}

<!-- Rest of your content goes here -->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <div class="p-4 intro-container">
                <h1 class="display-4 mb-4 intro-heading">
                    My Draft Recipes
                </h1>
                <p class="lead mb-4">Hi, <strong>{{ request.user }}</strong>! Your draft recipes are saved here.</p>
                <p class="lead mb-4">Your draft recipes are only visible to you.</p>
                <p class="lead mb-4">You can update and save or publish them as you like.</p>
                <p class="lead mb-4">Craft happiness out of every dish. Enjoy!!!</p>
            </div>
        </div>
    </div>

    <!-- Display message if no user draft recipes are present -->
    {% if recipe_drafts|length == 0 %}
    <div class="row">
        <div class="col-12 text-center mt-5">
            <p class="lead">Looks like you have no recipes saved as draft.</p>
            <p class="lead">You can create your recipes and save them for later to edit on this page.</p>
        </div>
    </div>
    {% endif %}

    <!-- Recipe Listings Section -->
    <div class="row mt-4">
        {% for recipe in recipe_drafts %}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="card h-100">
                <div class="image-container">
                    {% if "placeholder" in recipe.featured_image.url %}
                    <img class="card-img-top" 
                         src="{% static 'images/food2.jpg' %}" 
                         alt="food image">
                    {% else %}
                    <img class="card-img-top" 
                         src="{{ recipe.featured_image.url }}" 
                         alt="{{ recipe.title }}">
                    {% endif %}
                    <div class="image-flash">
                        <p class="author text-muted mb-2">Posted by: {{ recipe.author }} | {{ recipe.created_on }}</p>
                    </div>
                </div>
                <div class="card-body">
                    <h2 class="card-title h4">
                        {{ recipe.title }}
                    </h2>
                    <p class="card-text text-muted h6">{{ recipe.created_on }}</p>
                    <hr>
                    <div class="mb-3">
                        <a href="{% url 'update_recipe' recipe.slug %}" 
                           class="btn btn-success btn-spacing">
                            Update Recipe
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination to display 9 recipes per page -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" 
                   class="page-link" 
                   aria-label="Previous">
                   &laquo; PREV
                </a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" 
                   class="page-link" 
                   aria-label="Next">
                   NEXT &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}
