{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Recipe Image -->
        <div class="col-md-6">
            {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/food2.jpg' %}" alt="food image">
            {% else %}
                <img class="card-img-top" src="{{ recipe.featured_image.url }}" alt="{{ recipe.title }}">
            {% endif %}
        </div>

        <!-- Recipe Details -->
        <div class="col-md-6">
            <div class="d-flex flex-column h-100">
                <div class="mb-4">
                    <h2 class="display-4 recipe-title">{{ recipe.title }}</h2>
                    <p class="text-muted mb-2">Posted by: {{ recipe.author }} | {{ recipe.created_on }}</p>
                    <hr>
                    <p><strong><i class="fa-solid fa-fire like-icon"></i> Total Calories:</strong> {{ recipe.total_calories }}</p>
                    <p><strong><i class="fa-solid fa-dna like-icon"></i> Protein:</strong> {{ recipe.calories_protein }}g</p>
                    <p><strong><i class="fa-solid fa-wheat-awn like-icon"></i> Carbs:</strong> {{ recipe.calories_carbs }}g</p>
                    <p><strong><i class="fa-solid fa-bacon like-icon"></i> Fats:</strong> {{ recipe.calories_fats }}g</p>
                    <p><strong><i class="fa-solid fa-mortar-pestle like-icon"></i> Prep Time:</strong> {{ recipe.prep_time }} minutes</p>
                    <p><strong><i class="fa-solid fa-clock like-icon"></i> Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
                    <p><strong><i class="fa-solid fa-bowl-food like-icon"></i> Servings:</strong> {{ recipe.servings }}</p>

                    {% if user.id == recipe.author.id %}
                        <!-- Container for buttons -->
                        <div class="buttons-container">
                            <a href="{% url 'update_recipe' recipe.slug %}" class="btn btn-success w-25">Edit</a>
                            <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-danger w-25">Delete</a>
                        </div>
                    {% endif %}
                </div>

                <!-- Like/Unlike -->
                <div class="mb-3 d-flex align-items-center">
                    {% if user.is_authenticated %}
                        <form method="POST" class="d-inline" action="{% url 'recipe_like' recipe.slug %}">
                            {% csrf_token %}
                            {% if request.user in recipe.likes.all %}
                                <button class="like-icon liked" type="submit" aria-label="like the recipe">
                                    <strong><i class="fa-solid fa-heart"></i></strong>
                                </button>
                            {% else %}
                                <button class="like-icon" type="submit" aria-label="unlike the recipe">
                                    <strong><i class="fa-regular fa-heart"></i></strong>
                                </button>
                            {% endif %}
                        </form>
                    {% else %}
                        <span class="like-icon"><strong><i class="fa-regular fa-heart"></i></strong></span>
                    {% endif %}
                    &nbsp;
                    <span class="ml-2"><strong>{{ recipe.total_num_of_likes }}</strong></span>
                    {% with comments.count as total_comments %}
                        &nbsp;
                        <span class="ml-2"><strong><i class="fa-solid fa-comments"></i> {{ total_comments }}</strong></span>
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Ingredients and Instructions -->
    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="section-title">Ingredients:</h2>
            <p>{{ recipe.ingredients|safe }}</p>
        </div>
        <div class="col-md-6">
            <h2 class="section-title">Instructions:</h2>
            <p>{{ recipe.instructions|safe }}</p>
        </div>
    </div>

    <hr>

    <!-- Comments Section -->
    <div class="row">
        <div class="col-md-7">
            <h3 class="comment-header">Comments:</h3>
            {% for comment in comments %}
                <div class="p-2 {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %}d-none{% endif %}">
                    <p><strong>{{ comment.author }}</strong> <span class="text-muted">| {{ comment.created_on }}</span>:</p>
                    <div>{{ comment.body|linebreaks }}</div>
                    {% if not comment.approved and comment.author == user %}
                        <p class="text-warning">This comment is awaiting approval!</p>
                    {% endif %}
                    <hr>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-5">
            {% if user.is_authenticated %}
                <h3 class="comment-form-title">Leave a Comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form|crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-lg submit-button">Submit</button>
                </form>
            {% else %}
                <p>Log in to leave a comment.</p>
            {% endif %}
            <br>
        </div>
    </div>
</div>
{% endblock %}