{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="container mt-4">
    <div class="row">
        <!-- Recipe Image on the Left -->
        <div class="col-md-6">
            <img src="{% static 'images/food.jpg' %}" alt="{{ recipe.title }}" class="img-fluid rounded shadow">
        </div>

        <!-- Recipe Details on the Right -->
        <div class="col-md-6">
            <h2 class="display-4" style="font-family: 'Grenze Gotisch', serif; color: rgb(28, 196, 28);">{{ recipe.title }}</h2>
            <p class="text-muted mb-2">Posted by: {{ recipe.author }} | {{ recipe.created_on }}</p>
            <hr>
            <p><strong><i class="fa-solid fa-fire" style= "color: rgb(28, 196, 28);"></i>  Total Calories:</strong> {{ recipe.total_calories }}</p>
            <p><strong><i class="fa-solid fa-dna" style= "color: rgb(28, 196, 28);"></i>  Protein:</strong> {{ recipe.calories_protein }}g</p>
            <p><strong><i class="fa-solid fa-wheat-awn" style= "color: rgb(28, 196, 28);"></i>  Carbs:</strong> {{ recipe.calories_carbs }}g</p>
            <p><strong><i class="fa-solid fa-bacon" style= "color: rgb(28, 196, 28);"></i>  Fats:</strong> {{ recipe.calories_fats }}g</p>
            <p><strong><i class="fa-solid fa-mortar-pestle" style= "color: rgb(28, 196, 28);"></i>  Prep Time:</strong> {{ recipe.prep_time }} minutes</p>
            <p><strong><i class="fa-solid fa-clock" style= "color: rgb(28, 196, 28);"></i>  Cooking Time:</strong> {{ recipe.cooking_time }} minutes</p>
            <p><strong><i class="fa-solid fa-bowl-food" style= "color: rgb(28, 196, 28);"></i>  Servings:</strong> {{ recipe.servings }}</p>
        </div>
    </div>
    <hr> 
    <!-- Ingredients and Instructions Section -->
    <div class="row mt-5">
        <!-- Ingredients -->
        <div class="col-md-6 ingredients-container">
            <div class="mb-3">
                <h2 style="font-family: 'Grenze Gotisch', serif; color: rgb(28, 196, 28);">Ingredients:</h2>
                <p>
                    {{ recipe.ingredients | safe }}
                </p>
            </div>
        </div>
        
        <!-- Instructions -->
        <div class="col-md-6 instructions-container">
            <div class="mb-3">
                <h2 style="font-family: 'Grenze Gotisch', serif; color: rgb(28, 196, 28);">Instructions:</h2>
                <p>
                    {{ recipe.instructions | safe }}
                </p>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock content %}