{% extends "base.html" %} {% block content %}

<div class="container error-page">
  <div class="row justify-content-center content-border">
    <div class="col-md-8">
      <h1 class="text-center">Page Not Found <i class="fa-regular fa-face-frown"></i></h1>
      <p class="text-center">
        Oops!! We are sorry.<strong> Page Not Found.</strong> 
                The page you are looking for might have been removed, 
                had it's name changed or it's temporarily unavailable.
                Please click the button below to navigate to our home page
        </p>
      <p class="text-center"><a class="btn btn-primary" href="{% url 'home' %}">Go to Home Page</a></p>
    </div>
  </div>
</div>

{% endblock content %}
