{% extends "base.html" %}

{% block content %}
<main class="container error-page">
  <div class="row justify-content-center content-border">
    <div class="col-md-8 text-center">
      <h1>500 Internal Server Error <i class="fa-regular fa-face-frown" aria-hidden="true"></i></h1>
      <p>
        Oops! Something went wrong on our side. It seems there was an issue processing your request.
        Please try again later. 
      </p>
      <p>
        In the meantime, you can return to our homepage by clicking the button below:
      </p>
      <a href="{% url 'home' %}" class="btn btn-primary mb-5">Go to Home Page</a>
    </div>
  </div>
</main>
{% endblock content %}
